<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        processIsolation="false"
        stopOnFailure="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="all">
      <directory suffix=".php">tests/</directory>
    </testsuite>
    <testsuite name="console">
      <directory suffix=".php">tests/Console</directory>
    </testsuite>
    <testsuite name="migrations">
      <directory suffix=".php">tests/Migrations</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="clover.xml"/>
    </report>
  </coverage>
  <php>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
    <env name="ARANGODB_VERSION" value="3.11"/>
    <env name="LARAVEL_VERSION" value="11"/>
    <env name="RAY_ENABLED" value="(true)"/>
    <env name="SEND_CACHE_TO_RAY" value="(false)"/>
    <env name="SEND_DUMPS_TO_RAY" value="(true)"/>
    <env name="SEND_JOBS_TO_RAY" value="(false)"/>
    <env name="SEND_LOG_CALLS_TO_RAY" value="(true)"/>
    <env name="SEND_QUERIES_TO_RAY" value="(false)"/>
    <env name="SEND_REQUESTS_TO_RAY" value="(false)"/>
    <env name="SEND_VIEWS_TO_RAY" value="(false)"/>
    <env name="SEND_EXCEPTIONS_TO_RAY" value="(true)"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
