name: Check & Fix Styling

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    name:  Fix code style

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache/files
          key: dependencies-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: mbstring, intl
          ini-values: post_max_size=256M, short_open_tag=On
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer update --prefer-dist --no-interaction

      - name: Fix style
        if: ${{ always() }}
        run: |
          "${GITHUB_WORKSPACE}/vendor/bin/pint"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Fix styling
